body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

textarea {
  resize: none !important;
}

.container {
  flex: 1;
}

/* NAVBAR */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d !important;
  font-size: 2rem !important;
}

.nav-link {
  color: #222222 !important;
}

.nav-link:hover {
  background-color: #ebebeb;
}

/* FOOTER */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  vertical-align: middle;
}

.f-info-socials i {
  font-size: 1.3rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.f-info-socials i:hover {
  transform: scale(1.1);
  opacity: 1;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* CARDS */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 0.7rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
  display: flexbox !important;
  justify-content: center !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* CARD EFFECT */
.col:hover {
  opacity: 0.8;
  background-color: white;
  transition-timing-function: ease;
}

/* SHOW PAGE */
.show-img {
  height: 30vh;
}

.ryt-p {
  display: flex;
  justify-content: end;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

.ryt-btn {
  display: flex;
  justify-content: end;
}

.author-name {
  font-size: small;
}

.review-info {
  display: flex;
  flex-wrap: wrap;
}

.time-info {
  display: flexbox;
  font-size: x-small;
  line-height: 0.01rem;
  margin-top: 1rem;
  margin-left: auto;
}

/* Flash */
.btn-close {
  box-shadow: none !important;
}

/* Map */
#map {
  width: 100%; /* Make the map container take up 100% of its parent's width */
  height: 350px; /* Set a fixed initial height, adjust as needed */
}

/* Index Filters */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
  flex-shrink: 0; /* Prevent shrinking */
  flex: 0 0 auto; /* Prevent wrapping */
  cursor: pointer;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05);
}

.filter p {
  font-size: 0.8rem;
}

.form-check-input {
  width: 2rem !important;
  height: 1rem !important;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.tax-toggle:hover {
  border: none !important;
  background-color: #ebebeb;
}

/* Search Bar */
#searchBox {
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
  width: 36.5rem !important;
}

.search-btn {
  background-color: #fe424d !important;
  color: #fff !important;
  border-radius: 25px !important;
  padding: 0 1rem 0 1rem !important;
  border: 2.5px solid #fe424d !important;
  display: flex;
}

.search-btn:hover {
  color: #fe424d !important;
  background-color: #fff !important;
  border: 2.5px solid #fe424d !important;
}

.search-btn i {
  display: inline;
  margin-right: 0.4rem;
}

.search-inp {
  flex: 1;
  width: 36.5rem !important;
  resize: none !important;
  overflow: hidden !important;
  border-radius: 25px !important;
  padding: 0.5rem 2rem 0.5rem 2rem !important;
  border: 1px solid rgb(0, 0, 0, 0.1) !important;
}

.search-inp:hover {
  background-color: #ebebeb !important;
  border: 1px solid #ebebeb !important;
}

/* Buttons */
.add-btn {
  border: 2px solid #fe424d !important;
  background-color: #fe424d !important;
  color: white !important;
}

.add-btn:hover {
  border: 2px solid #fe424d !important;
  color: #fe424d !important;
  background-color: white !important;
}

.reset-btn {
  border: 2px solid #000 !important;
  background-color: #000 !important;
  color: white !important;
}

.reset-btn:hover {
  border: 2px solid #000 !important;
  color: #000 !important;
  background-color: white !important;
}

.dlt-btn {
  border: 2px solid #000 !important;
  background-color: #000 !important;
  color: white !important;
}

/* Optional: Adjust height for smaller screens if needed */
@media (max-width: 768px) {
  #map {
    height: 300px; /* Example: Reduce height on smaller screens */
  }

  .navbar {
    height: auto;
  }

  .d-flex {
    width: 6.5rem !important;
    display: flex;
  }

  .search-btn:hover {
    background-color: #fe424d !important;
    color: #fff !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
    border: 2.5px solid #fe424d !important;
  }

  .card-position {
    margin-left: 0.2rem !important;
  }
}

@media (max-width: 1200px) {
  .searchBox {
    width: auto !important;
    display: flex;
    flex-wrap: wrap;
  }

  .d-flex {
    width: auto !important;
    display: flex;
    flex-wrap: wrap;
  }

  #searchBox {
    width: auto !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
  }

  .search-inp {
    width: 100% !important;
  }
}
